<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sentimental Analyis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/footer.css">
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="stylesheet" href="/static/css/sentimental.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://kit.fontawesome.com/ce3f5803b7.js" crossorigin="anonymous"></script>
        <link rel = "icon" href = "/static/img/logo.png" type = "image/png">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
        <!-- header -->
        <header class = "header" id = "header">
                <div class = "site-name">
                    <span>Algo NGpt</span>
                </div>
                <div class="menuToggle" id="menuToggle" onclick="toggleMenu();"></div>
                <ul class = "navbar" id="navbar">
                    <li><a href = "{% url 'home'%}">home</a></li>
                    <li><a href = "{% url 'logout' %}">Logout</a></li>
                </ul>
        </header>

